/* Pegando tudo */
.conjuntoFilmes{
    margin-bottom: 30px;
}
.conjuntoFilmes h2{
    margin: 0px 0px 0px 30px;
}

/* Pegando toda a area daos filmes completos */
.conjuntoFilmes--listarea{
    overflow-x: hidden;
    padding-left: 30px;
}

/* Pegando a lista que está aparecendo no momento */
.conjuntoFilmes--list{
    transition: all ease .5s;
}

/* Pegando uma imagem de cada vez */
.conjuntoFilmes--item{
    display: inline-block;
    width: 150px;
    height: 225px;
    cursor: pointer;
}

.conjuntoFilmes--item img{
    width: 100%;
    transform: scale(.9);
    transition: all ease .25s;
    height: 100%;
}

.conjuntoFilmes--item img:hover{
    transform: scale(1);
}

.movieRight,
.movieLeft{
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease .5s;
}
.movieLeft{
    left: 0;
}
.movieRight{
    right: 0;
}

.conjuntoFilmes:hover .movieRight,
.conjuntoFilmes:hover .movieLeft{
    opacity: 1;
}

@media (max-width:760px) {
    .movieLeft,.movieRight{
        opacity: 1;
    }
}